.wraper{
	text-align: center;
}


.hed{
	position: relative;
	display: inline-block;
	margin-bottom: 100px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.hed::after{
	content: "";
	display: block;
	height: 1px;
	width: 75px;
	background-color: #18cfab;
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translate(-50%);
}

.hed::before{
	content: "";
	display: block;
	height: 1px;
	width: 75px;
	background-color: #18cfab;
	position: absolute;
	bottom: -35px;
	left: 50%;
	transform: translate(calc(-50% + 13px));	
}

.card-item{
height: 600px;
width: 1140px;
margin: auto ;

}

.card{
	border: 1px solid #e1e1e1;
	height: 100%;
	width: 25%;
	display: inline-block;
	margin: -3px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.strip{
	/* height: 15px;*/
	background-color: #18cfab;
	position: absolute;
	top: 8px;
	right: -28px;
	font-size: 17px;
	color: #ffffff;
	transform: rotate(47deg);
	padding: 5px 25px;
}

.card span{
	font-size: 40px;
}

.prices{
	height: 105px;
	background-color: #2e4a5b;
	line-height: 105px;
	color: #ffffff;
}

ul,
li{
	list-style-type: none;
}

ul{
	padding: 0;
	margin-top: 5px;
	margin-bottom: 30px;
}


li{
	border: 1px solid #e1e1e1;
	height: 47px;
	line-height: 47px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: #777777;
}

a{
	padding: 20px 50px;
	background-color: #2e4a5b;
	text-decoration: none;
	color: #ffffff;
	border-radius: 5px;
	text-align: center;
}
/* ---------------------------hover-------------------------- */
.card:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.5) ;
}

.card:hover h2 {
	color: #18cfab;
}

  .card:hover .prices {
	background-color: #18cfab;
}

 .card:hover a{
	background-color: #18cfab;
}
